<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <div class="ui main text container segment" id="container">

        <div class="ui huge header">
                Results for : "<%= search %>"
        </div>

        <a href="/">
            <button class="ui labeled icon basic button">
                <i class="search icon"></i>
                Search Again
            </button>
        </a>

        <div class="ui divided items">
            <% movies.forEach(m => { %>

                <div class="item">

                    <div class="image">
                        <img src="<%= m.Poster %>" onerror="this.src='/img/posterError.jpg'">
                    </div>

                    <div class="content" style="margin-top: 10%;">
                        <a class="header" href="/show/<%= m.imdbID %>">
                            <%= m.Title %>
                        </a>

                        <div class="meta">
                            <span><%= m.Year %></span>
                        </div>

                        <div class="description">
                            <a href="/show/<%= m.imdbID %>">
                                <p>Show more details</p>
                            </a>
                        </div>

                    </div>

                </div> <!-- end item -->
                
            <% }) %>
        </div> <!-- end items -->

    </div>
</body>
</html>